@font-face {
    font-family: 'CircularStd-Medium';
    src: url("Circular/CircularStd-Medium.otf");
    src: url("Circular/CircularStd-Medium.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Light';
    src: url("Circular/CircularStd-Light.otf");
    src: url("Circular/CircularStd-Light.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url("Circular/CircularStd-Bold.otf");
    src: url("Circular/CircularStd-Bold.otf") format("opentype");
    font-style: normal;
}

 :root {
    --text-color: #fafafa;
    /* Texte presque blanc */
    --background: #000;
    /* Fond bleu foncé */
    --main-green: #169b45;
    --active-green: #169b45;
}

* {
    color: var(--text-color);
}

body {
    background-color: var(--background);
    /*font: 14pt Roboto, Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 40px auto;
    font-family: 'CircularStd-Medium';
    overflow: scroll;
}


/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */

p.info-vide {
    font-style: italic;
}


/* Partie En-tête */

h1 {
    /* margin-top: 1em; */
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
    color: var(--main-green);
    color: #169b45;
}

input {
    font-family: 'CircularStd-Bold';
    /*font-family: 'Righteous', cursive;*/
}

p#explication {
    font-size: 1.1em;
}


/* Conteneur principal */

#conteneur {
    display: flex;
    flex: 1;
    margin: 30px auto;
}


/* Section Recherche (avec résultats) */

#section-recherche {
    margin-top: 0;
    flex: 1 1 auto;
}

#bloc-recherche {
    display: flex;
    margin: 0 auto;
    min-width: 450px;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#bloc-recherche>input[type=text],
#bloc-recherche>button {
    display: block;
    font-size: 1.2em;
    outline: none;
}

#bloc-recherche>input[type=text] {
    color: #919496;
    padding: 0.7em;
    flex: 1;
    background: #000;
    border-radius: 50px 0 0 50px;
    border: 1px solid var(--main-green);
}

#btn-favoris {
    border-radius: 0 50px 50px 0;
}

#nb_resultats {
    float: inline-end;
    font-family: 'CircularStd-Light';
    font-size: 12px;
    color: #919496;
}

#etoile,
#loupe {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#etoile:hover {
    transform: rotate(-75deg);
}

#loupe:hover {
    transform: scale(1.1);
}

#bloc-recherche>button {
    padding: 0.8em 0.8em;
    /* Bordure invisible pour que le hover ne bouge pas le bouton */
    /* Par défaut, les boutons sont en gris
	 (S'ils sont "clicables", ils passent en vert) */
    background-color: #919496;
    border: none;
}


/* Apparences des boutons clicables */

#bloc-recherche>button.btn_clicable {
    background-color: var(--main-green);
}

#bloc-recherche>button:focus {
    /* Pour éviter un affichage disgracieux
		quand le bouton reste en focus */
    outline: 0 !important;
}

#bloc-recherche>button.btn_clicable:hover {
    cursor: pointer;
}

#bloc-recherche>button.btn_clicable:active {
    background-color: var(--active-green);
}


/* GIF de chargement (caché par défaut) */

#bloc-gif-attente {
    display: none;
    margin: 40px;
    text-align: center;
}

#bloc-resultats p.res::before {
    /* Affichage d'une flèche devant chaque résultat
		(Cf. https://unicode-table.com/fr/21E8/ ) */
    content: "\21E8\00A0";
}


/* Section de la barre de séparation */

#section-separation {
    border-left: 2px dashed var(--main-green);
    margin: 0 20px;
}


/* Section des recherches favorites */

#section-favoris {
    flex: 0 0 300px;
    margin-top: 0;
    margin-bottom: 20px;
}

#section-favoris h2 {
    margin-top: 0;
}

#section-favoris p {
    margin-bottom: 8px;
}

#liste-favoris li {
    margin-bottom: 8px;
    cursor: pointer;
}

#liste-favoris li span {
    text-decoration: underline;
}

#liste-favoris li span:hover {
    color: var(--main-green);
}


/* Media-query pour gérer l'affichage sur petit écran */

@media (max-width: 900px) {
    #conteneur {
        flex-direction: column-reverse;
    }
    #section-separation {
        border-top: 2px dashed rgb(26, 188, 156);
        margin: 0 -10px 40px -10px;
    }
    #section-favoris {
        flex: 0;
    }
}